{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<section class="hero is-fullheight is-dark">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column"></div>
                <div class="column">
                    <div class="card">
                        <div class="card-content">
                            <form method="post">
                                {% if app.user %}
                                    <div class="mb-3">
                                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                    </div>
                                {% endif %}

                                <h1 class="title has-text-centered has-text-dark">Please sign in</h1>

                                {% if error %}
                                    <div class="notification is-danger is-light">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                <div class="field">
                                    <label class="label" for="inputUsername">Username</label>
                                    <div class="control">
                                        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="input" required autofocus>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="inputPassword">Password</label>
                                    <div class="control">
                                        <input type="password" name="password" id="inputPassword" class="input" required>
                                    </div>
                                </div>

                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}"
                                >

                                {#
                                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                    See https://symfony.com/doc/current/security/remember_me.html

                                    <div class="checkbox mb-3">
                                        <label>
                                            <input type="checkbox" name="_remember_me"> Remember me
                                        </label>
                                    </div>
                                #}

                                <div class="field is-grouped">
                                    <div class="control">
                                        <a class="button is-link is-light" href="{{ path('front_home') }}">Cancel</a>
                                    </div>
                                    <div class="control">
                                        <button class="button is-link" type="submit">
                                            Sign in
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="column"></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
