{% extends 'admin/base.html.twig' %}

{% block title %}Project Images{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="{{ path('admin_dashboard') }}">Dashboard</a></li>
            <li class="is-active"><a href="{{ path('admin_project_image_index') }}">Project images</a></li>
        </ul>
    </nav>
{% endblock %}

{% block body %}
    <nav class="navbar-menu mb-4">
        <div class="navbar-start">
            <h4 class="title is-4">Project images</h4>
        </div>
        <div class="navbar-end">
            <a href="{{ path('admin_project_image_new') }}" class="button is-info">Upload new</a>
        </div>
    </nav>
    <div class="columns is-multiline">
        {% for image in project_images %}
            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ asset('images/projects/') ~ image.imageName}}">
                    </div>
                    <div class="card-content">
                        <p>Last update : {{ image.updatedAt ? image.updatedAt|date('Y-m-d H:i:s') : '' }}</p>
                        <p>Project : {{ image.project.name }}</p>
                    </div>
                    <div class="card-footer">
                        <div class="card-footer-item">
                            <a href="{{ path('admin_project_image_show', {'id': image.id}) }}">details</a>
                        </div>
                        <div class="card-footer-item">
                            <a href="{{ path('admin_project_image_edit', {'id': image.id}) }}">edit</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {#
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ImageName</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project_image in project_images %}
            <tr>
                <td>{{ project_image.id }}</td>
                <td>{{ project_image.imageName }}</td>
                <td>{{ project_image.updatedAt ? project_image.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_project_image_show', {'id': project_image.id}) }}">show</a>
                    <a href="{{ path('admin_project_image_edit', {'id': project_image.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    #}
{% endblock %}
