{% extends 'admin/base.html.twig' %}

{% block title %}Edit Client{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="{{ path('admin_dashboard') }}">Dashboard</a></li>
            <li><a href="{{ path('admin_client_index') }}">Clients</a></li>
            <li><a>Edit</a></li>
        </ul>
    </nav>
{% endblock %}

{% block body %}
    <h1>Edit Client</h1>

    {{ include('admin/client/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_client_index') }}">back to list</a>

    {{ include('admin/client/_delete_form.html.twig') }}
{% endblock %}
