<aside class="menu is-hidden-mobile">
    <p class="menu-label">
        General
    </p>
    <ul class="menu-list">
        <li><a href="{{ path('admin_dashboard') }}">
                <span class="icon">
                    <ion-icon name="home"></ion-icon>
                </span>
                <span>Dashboard</span>
            </a></li>
        <li><a href="#">
                <span class="icon">
                    <ion-icon name="people"></ion-icon>
                </span>
                <span>Users</span>
            </a></li>
    </ul>
    <p class="menu-label">
        Website
    </p>
    <ul class="menu-list">
        <li>
            <a href="{{ path('admin_client_index') }}">
                <span class="icon">
                    <ion-icon name="briefcase"></ion-icon>
                </span>
                <span>Clients</span>
            </a>
        </li>
        <li>
            <a href="{{ path('admin_project_index') }}">
                <span class="icon">
                    <ion-icon name="browsers"></ion-icon>
                </span>
                <span>Projects</span>
            </a>
            <ul>
                <li>
                    <a href="{{ path('admin_project_image_index') }}">
                        <span class="icon">
                            <ion-icon name="images"></ion-icon>
                        </span>
                        <span>Images</span>
                    </a>
                </li>
            </ul>
        </li>
        <li><a href="{{ path('admin_techno_index') }}">
                <span class="icon">
                    <ion-icon name="code-slash"></ion-icon>
                </span>
                <span>Technos</span>
            </a>
        </li>
        <li><a>
                <span class="icon">
                    <ion-icon name="book"></ion-icon>
                </span>
                <span>Education</span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon">
                    <ion-icon name="bulb"></ion-icon>
                </span>
                Skills
            </a>
        </li>
    </ul>
    <p class="menu-label">
        Blog
    </p>
    <ul class="menu-list">
        <li>
            <a>
                <span class="icon">
                    <ion-icon name="newspaper"></ion-icon>
                </span>
                Articles
            </a>
        </li>
        <li>
            <a>
                <span class="icon">
                    <ion-icon name="file-tray-stacked"></ion-icon>
                </span>
                Categories
            </a>
        </li>
        <li>
            <a>
                <span class="icon">
                    <ion-icon name="pricetags"></ion-icon>
                </span>
                Tags
            </a>
        </li>
    </ul>
</aside>